<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3 | Water</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>We sold my childhood home, left my childhood friends, our home church and my dad. 
      Moving to Tennessee was one of the hardest things I've ever done.

      When I finally arrived- it all hit me. What I had done, who I had left— what I had left. 
      Years of connections and relationships cultivated in a small town left to be unknown in a big city.
      In the middle of it all, I still didn't have a job. God had told me not to job hunt. He told me 
      that He had a job for me and that He would come to me. So I waited. I had been here for a week, 
      I was low on funds and desperate to get some of what I was feeling out and expressed into some 
      form of art. My former job had paid for all my graphic design tools, it didn’t make sense to keep 
      those subscriptions as I wouldn’t be making money that way any longer and I couldn’t afford any silk-  
      the two ways that I knew how creativly express were exhausted.  One night my mom needed to run to Walmart, 
      I decided to come along. I ended up in the art supply aisle and I picked out a child’s watercolor set, a few 
      brushes and cheep water color paper. I went home and started painting. I lost myself in it-when 
      I came up for air I found more of myself in what I had made. This journey has been the undoing and the remaking. 
      It's been shedding and becoming. I've been here for 7 months now... and the art has only continued to grow and 
      expand. Over the last year I’ve made custom pieces for local Air bnb’s and friends apartments. I designed a 
      series, donated the originals to a friends nonprofit fundraiser, sold some prints and taught classes on 
      translating emotions into art. 
        
      I don’t know whats yet to come. But I’m excited about it.</p>

<div class="row">
    <img src="assets/images/07.jpg">
    <img src="assets/images/08.jpg">
    <img src="assets/images/09.jpg">
    <img src="assets/images/10.jpg">
    <img src="assets/images/11.jpg">
    <img src="assets/images/12.jpg">
    <img src="assets/images/13.jpg">
    <img src="assets/images/14.jpg">
    </div>


    <ion-button color="light" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
    <ion-button color="light"   [routerDirection]="'root'" [routerLink]="['/chapter1']">Go Back To First Chapter</ion-button>
    <br>
    <ion-badge color="light">Page 3</ion-badge>
</ion-content>
