<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2 | Silk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   
   
    <p>
        Isn't it funny how the best things arrive ‘out of the blue’? 
        I was on a 12 hour flight to Paris, I had just begun journaling,
        suddenly I heard in my Spirit "You have 12 hours to prepare for how your life is about to change".
        
        I immediately wrote down what I heard; 
        There was a peace, but also a fire. If there was anything I wanted to change about my life, this was the time!
        I felt the shift so deeply. I also felt a sincere call to take courage, and with that courage, take a risk. 
        I asked God to make me ready for whatever risk was coming. I requested that when “it” was right in front of me, 
        I would know and that I would have the boldness to say yes. Paris held many eye opening moments and revelations 
        that effected me deeply. 
        
        3 weeks later I found myself resigning from my job of 5 years. It was a surprise to us all. 
        My boss didn't share the news with anyone for 4 days, convinced that I would change my mind and stay. 
        But I didn't. I knew this was the risk that God had spoken so clearly to me about. I wanted so badly to follow, 
        to look the dark unknown in the face and say "YES!". I had no job, no leads, no idea what was going to happen next.
        
        I said “yes” in the dark. 
        
        The day that I resigned from my job, one of my close friends called to tell me that she had an all paid trip 
        to Hawaii for me- It felt like a reward. It was on my way to Hawaii that God started speaking to me about my 
        own brand. The brand of me- what people see when they look into my life. He started asking me what it was all 
        about and I would journal my answers in response and move on. A day later more questions would arise. Eventually, I had pages of designs, ideas, words, colors and shapes that resonated with who I was and where I was going. I felt the sharpening and refining these questions brought as they arose in my spirit. Answering His questions felt like freedom and wide open spaces. Unsurprisingly most of the content revolved around the healing that was taking place in my life.
        
        A month later I was at Bethel’s Prophetic conference. At this point I knew two things: 
        I was moving to Nashville Tennessee and second, I had no idea what I was going to do there. 
        
        At the conference God gave me a vision of starting my own business. By this point I had oodles of content 
        just waiting to be put into a brand. At that point, I had only thought of the ingredients of a brand as 
        “Introspection- the work i had done to get to know myself better. I’m so glad that it didn’t just stay tucked away 
        in a journal.
        
        When I started asking more questions about this business I was suddenly hearing about He gently asked me to make art 
        the represented the restoration that I saw taking place around me. 
        I asked him “how?” and he said "Silk painting". “What is that?” I asked him..."Google it" He replied. So I did! 
        For the next few months I focused on the medium of silk painting onto robes and silk shirts. I gave the pieces away to the people who 
        inspired them. I learned many things first: 
        I can do hard things + I when I try new hard things, its okay to look silly sometimes. Second: Don't rush yourself enjoy the 
        process of life, creating, grieving, celebrating, sowing, reaping. 
        
        When it was time for me to move to Nashville I had opened myself up to so many possibilities. I had learned a new craft and 
        started my business: Color Therapy Co. 
        
        There were a lot of questions around the move "What was Nashville to hold for me?" "Would I be able to continue making art?"  
    </p>

    <div class="row">
        <img src="assets/images/yay.jpg">
        <img src="assets/images/05.jpg">
        <img src="assets/images/06.jpg">
        </div>

    <ion-button color="light" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
    <ion-button color="light"   [routerDirection]="'root'" [routerLink]="['/chapter3']">Go To Next Chapter</ion-button>
    <br>
    <ion-badge color="light" slot="end">Page 2</ion-badge>
</ion-content>
