<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1 | Shapes </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p>It all started with graphic design. 
        I was working for a non profit and designing for their campaigns. I would take work home and somewhere 
        in the middle I would find myself fiddling around with designs that were just for me. Shapes and colors 
        that represented what I was feeling at the time.
        
        I often found the process of design unlocking a part of myself that had been hidden. Other times the shapes 
        and colors gave voice to what I was wrestling through. I felt as though these things I made were a mirror to 
        gain perspective and see my own patterns; Wounds and childhood experiences that seemed to only produce negative 
        consequences began to unravel and fall off my life. 
        
        Through it all - I never intended that people would see my designs. Little did I know what would happen next!
        
        That season of creating taught me a lot. 
        It’s okay to create out of pain. It’s equally okay to create out of growth & celebration. 
        
        I also discovered the beauty of creating something just for myself. Without the need to share it; someone else’s 
        approval could never truly validate who I am.
    </p>
    <div class="row">
    <img src="assets/images/dontshutyoureyes01.jpg">
    <img src="assets/images/dontcloseyoureyes02.jpg">
    <img src="assets/images/dontshutyoureyes03.jpg">
    </div>
    <ion-button color="light" [routerDirection]="'root'" [routerLink]="['/toc']">Go Back to TOC</ion-button>
    <ion-button color="light"   [routerDirection]="'root'" [routerLink]="['/chapter2']">Go To Next Chapter</ion-button>
<br>
<ion-badge color="light">Page 1</ion-badge>


</ion-content>
